html {
	background-color: rgb(238, 238, 238);
}

.App {
	display: flex;
	flex-direction: column;
	color: rgb(0, 13, 45);
	margin-left: 100px;
	margin-right: 100px;
}

#generator-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1em;
}

#extra-buttons {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.extra-button {
	background-color: white;
	text-align: center;
	margin: 1em;
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: pointer;
}

h1, h3 {
	filter: blur(0.4px);
}
